.img {
    width: 640px;
    height: 320px; 
    position: absolut;
    z-index: -999;
}
.controls {
    position: absolute;
    left: 270px;
    top: 260px;
}
.controls ul li {
    float: left;
    padding: 10px;
    height: 20px;
    width: 20px;
    color: white;
}
#left{
    position: absolute;
    left:0;
}
#right{
    position: absolute;
    right:0;
}
.d1{
    position: relative;
    width: 640px;
    height: 320px;
}
.page{
    width:50px;
    height:80px;
    background-color:rgba(0,0,0,0.2);
    position:absolute;
    top:160px;
    font:20px/80px 'Microsoft YaHei';
    text-align:center;
    display:none;
    color:white;
}
